body {
  font-family: "Arial","Meiryo",sans-serif;
  font-size: 20px;
}

html {
  text-align: center;
}

.text-skyblue {
  color:skyblue;
}

.text-pink {
  color: rgb(255,192,203);
}

h1 {
  text-shadow: 2px 2px 2px gray;
  font-size: 40px;
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115,115,114) 
}

#Google-Fonts {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#parent > p {
  font-weight: bold;
}